{{> head}}
 
{{> navbar }}

<div class="rol">
    <div class="col-8">
        <h1>Jardines</h1>

        <p>
            En algun lugar de la mancha, de cuyo nombre no quiero acrodarme.,, 
            En algun lugar de la mancha, de cuyo nombre no quiero acrodarme.,,
            En algun lugar de la mancha, de cuyo nombre no quiero acrodarme.,,
            En algun lugar de la mancha, de cuyo nombre no quiero acrodarme.,,
            En algun lugar de la mancha, de cuyo nombre no quiero acrodarme.,,
            
        </p>

    </div>
    <div class="col-4">
        <img src="assets/img/jardin.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer}}